black
build
coverage[toml]
flake8
flake8-type-checking
Flake8-pyproject
isort
mypy
myst-parser
pytest
pytest-asyncio
pytest-cov
rstcheck
snooty-lextudio
sphinx
sphinx-immaterial
sphinxcontrib-mermaid
twine
